.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list{
  list-style-type: none;
  margin-left: 5px;
  
}
.list li{
  
  margin-left: 5px;
  display: inline;
  padding: 10px;
  margin-right: 5px;
}

.article {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header {
  
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin-top: 40px;
  justify-content: space-between;
}
.header h1{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.header button{
  margin-left: 10px;
  font-size: 20px;
  font-style: oblique;
}
.header button:hover{
  color: #f88400;
  position: relative;
  cursor: pointer;
}
.picture {
  object-fit: cover;
  width: 100%;
  height: 99vh;
}




.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #144864;
  position: relative;
}


.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.nav-elements ul a:hover {
  color: #f88400;
  font-weight: 400;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f97c00;
}



.login{
  height: 99vh;
  display: flex;
  

}
.container1 {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  padding-top: 100px;
}
.container1  h1  {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.container1  p  {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.col-25 {
  width: 30%;
  float: left;
  margin-top: 6px;
}

.col-75 {
  width: 70%;
 
  float: left;
  margin-top: 6px;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.input{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.row1{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.row2{
  width: 75%;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
button{
  background-color: #f5b24d;
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 60px auto;
  cursor: pointer;
  display: flex;
  
}
button:hover {
  background-color: #080808;
}
.logo {
  width: 50%;
}
.logo img {
width: 100%;
height: 100%;
}